#first{
    color: white;
    background-color: black;
}
#second{
    background-color: yellow;
}
.common-style{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}/* Add CSS Styling */